AddDefaultCharset utf-8

# Friendly URL
Options +FollowSymlinks
RewriteEngine On

# Router
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*)$ index.php [QSA,L]